<header class="header-5">
  <div class="branding">
      <a href="" class="nav-link">
          <clr-icon shape="airplane"></clr-icon>
          <span class="title">Eric's Angular</span>
      </a>
  </div>
  <div class="header-nav">
      <a routerLink="/board-list"
        routerLinkActive="active" 
        class="nav-link nav-text">Dashboard</a>
      <a routerLink="/about" 
        routerLinkActive="active"
        class="nav-link nav-text">About</a>
  </div>
  <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
      </a>
  </div>
</header>