<br>
<br>
<div class="row">
    <table *ngIf="posts?.length > 0 ;else noPosts"class="table table-noborder">
    <thead>
        <tr>
            <th>Title</th>
            <th class="left">Content</th>
            <th>Author</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.title}}</td>
            <td class="left">{{post.content}}</td>
            <td>{{post.author}}</td>
            <td>
                <a [routerLink]="['/post/'+ post.key]" routerLinkActive="active" class="btn btn-sm btn-secondary">Details</a>
            </td>
        </tr>
    </tbody>
    </table>
    <ng-template #noPosts>
        <h5>There are no posts to show</h5>
    </ng-template>
</div>
<div class="row">
    <div class="col-md-2">
    <button routerLink="/add-post" class="btn btn-success btn-block">New Post</button>
    </div>
</div>